@CHARSET "UTF-8";

/* Frontend */
.textarea_100 {
	width: 100%;
}

.itp-vq .vq-row:nth-child(even) {
	background: #e8e8e8;
}
.itp-vq .vq-row:nth-child(odd) {
	background: #fff;
}

.vq-author{
	font-style: italic;
}

.vp_header {
	background-color: #534539 !important;
   color: #FFFFFF;
   text-align: center;
   font-weight: bold;
   padding: 10px 0 0 0;
}

.vq_search_form {
	text-align: center;
	margin: 10px 0px;
}

.vq_search_form .vqsearchbox {
	width: 50%;
}

/*** Site ***/

/* Form */
#eq-form  fieldset {
  padding: 1em;
}
  
#eq-form  legend {
  border-bottom: 1px solid #999999;
  width: 100%;
}

#eq-form button {
	margin-top: 20px;
}

#eq-form  label {
  display: block;
  margin: 20px 0px 5px 0px;
  font-weight: bold;
  font-size: medium;
}

#eq-form input, #eq-form textarea, #eq-form select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    padding: 5px 3px;
    width: 302px;
}

.itp_edit_icon {
	float: left;
	margin-right: 5px;
}

#authorbox{  
    background:#EFEFEF;  
    border:1px solid #CECFD0;  
    width: 100%;  
    margin:0 auto;  
    margin-bottom:10px;  
    overflow:hidden;  
}  
#authorbox h4{  
	  font-size:16px;  
	  color:#191919;  
	  margin:0;  
	  padding:10px 10px 5px 10px;  
 }  
.authortext{  
	  /* padding-left:200px;  */
 }  
#authorbox img{  
	  margin:0;  
	  padding:10px;  
	  float:left;  
 }  
 #authorbox p{  
	  color:#191919;  
	  margin:0;  
	  padding:0px 10px 10px 10px;  
 }  
 #authorbox h4 > a{  
	  text-decoration:none;  
 }  
#authorbox p{  
	  color:#191919;  
 } 
 
.vq-quote a, .vq-quotes a, 
.vq-category a, .vq-authors a, 
.vq-author-page a {
	text-decoration: none !important;
	color: black !important;
}

.vq-quote a:hover, .vq-quotes a:hover, 
.vq-category a:hover, .vq-authors a:hover, 
.vq-author-page a:hover {
	text-decoration: underline !important;
	color: black !important;
}

.itpvq-img-center{
	vertical-align: middle  !important;
	text-align: center !important;
}

.vq-info-row {
	background-color: #fdfdf5;
	font-size: xx-small;
	height: 20px;
	padding-left: 5px;
}

.vq-info {
	background-color: #f7f7f7;
	font-size: x-small;
	height: 22px;
	padding-left: 5px;
}

.vq-row {
	border-bottom: thin dashed #cccccc;
	margin-top: 10px;
}

/** Author Page **/
.vq-author-page .media .media-image {
	margin-right: 10px;
}

.vq-author-page .media-body {
	overflow: hidden;
}

.vq-hits {
	margin: 10px 0px;
	font-size: x-small;	
}

.vqmod-abc a.btn {
	margin: 5px 0;
}