@CHARSET "UTF-8";

/* Backend */
.icon-48-vip-quotes 	    { background-image: url(../../images/quotes_48.png); }
.icon-48-vip-new-quote 	{ background-image: url(../../images/quote_new_48.png); }
.icon-48-vip-edit-quote 	{ background-image: url(../../images/quote_edit_48.png); }
.icon-48-vip-authors 	    { background-image: url(../../images/authors_48.png); }
.icon-48-vip-new-author 	    { background-image: url(../../images/author_new_48.png); }
.icon-48-vip-edit-author 	    { background-image: url(../../images/author_edit_48.png); }
.icon-48-vip-settings 	    { background-image: url(../../images/settings_48.png); }
.icon-48-vip-dashboard 	{ background-image: url(../../images/dashboard_48.png); }

.icon-32-vip-dashboard-back { background-image: url(../../images/dashboard_back_32.png); }
.icon-32-vip-download { background-image: url(../../images/download_32.png); }
.icon-32-vip-download-all { background-image: url(../../images/download_all_32.png); }

.icon-48-vip-facebook-pages 	{ background-image: url(../../images/facebook_48.png); }
.icon-48-vip-facebook-tabs 	{ background-image: url(../../images/facebook_tabs_48.png); }
.icon-48-vip-facebook-add-tab 	{ background-image: url(../../images/facebook_add_tab_48.png); }
.icon-48-vip-facebook-edit-tab 	{ background-image: url(../../images/facebook_edit_tab_48.png); }
.icon-32-vip-update { background-image: url(../../images/update_32.png); }
.icon-32-vip-connect { background-image: url(../../images/connect_32.png); }
.icon-48-vip-import 	{ background-image: url(../../images/import_48.png); }


#itp-cpanel {
      width: 400px;
      height: 400px;
      float: left;
}

#itp-itprism {
    width: 400px;
    height: 500px;
    float: right;
}


#itp-cpanel span {

    display: block;
    text-align: center;

}

.itp-cpitem {
  float:left;
  text-align: center;
  margin: 0 5px 5px 0;

}

.itp-cpitem a {
  display:block;
  width: 120px;
  height: 100px;
  border: thin solid #E1E1E1;
  vertical-align: middle;
  text-decoration: none;
  float:left;
  color: #808080 !important;
}

.itp-cpitem:hover a {
    border: thin outset #E1E1E1;
    background: #EEEEEE;
    color: #0B55C4 !important;
    text-decoration: none;
}


.itp-cpitem img {
  padding: 10px;
}

#itp-itprism p {
  font-size: larger;
  text-align: left;
}

.img_author {
	margin-left:20px;
}
