@CHARSET "UTF-8";

.icon-globe {
	background: url(../../images/globe.png) no-repeat left;
}

#itp-cpanel {
      width: 400px;
      height: 400px;
      float: left;
}

#itp-itprism {
    width: 400px;
    height: 500px;
    float: right;
}


#itp-cpanel span {

    display: block;
    text-align: center;

}

.itp-cpitem {
  float:left;
  text-align: center;
  margin: 0 5px 5px 0;

}

.itp-cpitem a {
  display:block;
  width: 120px;
  height: 100px;
  border: thin solid #E1E1E1;
  vertical-align: middle;
  text-decoration: none;
  float:left;
  color: #808080 !important;
}

.itp-cpitem:hover a {
    border: thin outset #E1E1E1;
    background: #EEEEEE;
    color: #0B55C4 !important;
    text-decoration: none;
}

.itp-cpitem img {
  padding: 10px;
}

#itp-itprism p {
  font-size: larger;
  text-align: left;
}

.img_author {
	margin-left:20px;
}

.ml-20px {
	margin-left: 30px !important;
}

/** Dashboard **/
.dashboard-stats .span4, .dashboard-stats .span8{
    border: thin solid #dcdcdc;
    margin-bottom: 10px;
}

.stats-icon-list {
    background: url(../../images/icon_list.png) no-repeat 1% 50%;
    margin:0;
    padding: 5px 0 5px 30px;
}

.stats-icon-info {
    background: url(../../images/icon_stats.png) no-repeat 1% 50%;
    margin:0;
    padding: 5px 0 5px 30px;
}

.latest-quotes {
    background-color: #e7e7e7;
}

.latest-authors {
    background-color: #cde9ef;
}

.popular-quotes {
    background-color: #dbf4dc;
}

.popular-authors {
    background-color: #e6e6fa;
}

.basic-stats {
    background-color: #ffe4c4;
}

