<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="quote" label="COM_VIPQUOTES_QUOTE" description="COM_VIPQUOTES_QUOTE_PARAMS">
        <field name="quote_display_hits" type="radio" default="1" label="COM_VIPQUOTES_DISPLAY_HITS" description="COM_VIPQUOTES_DISPLAY_HITS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    
    <fieldset name="security" label="COM_VIPQUOTES_SECURITY" description="COM_VIPQUOTES_SECURITY_DESC">
        <field
            name="captcha"
            type="plugins"
            folder="captcha"
            default=""
            label="COM_VIPQUOTES_CAPTCHA"
            description="COM_VIPQUOTES_CAPTCHA_DESC"
            filter="cmd" >
            <option
                value="">JOPTION_USE_DEFAULT</option>
            <option
                value="0">JOPTION_DO_NOT_USE</option>
        </field>
        <field name="security_auto_publishing" type="radio" default="0" label="COM_VIPQUOTES_AUTO_PUBLISH" description="COM_VIPQUOTES_AUTO_PUBLISH_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="security_send_mail" type="radio" default="0" label="COM_VIPQUOTES_SEND_MAIL" description="COM_VIPQUOTES_SEND_MAIL_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="security_check_quotes" type="radio" default="0" label="COM_VIPQUOTES_VERIFY" description="COM_VIPQUOTES_VERIFY_FORM_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    
    <fieldset name="seo" label="COM_VIPQUOTES_SEO_TITLE" description="COM_VIPQUOTES_SEO_PARAMS">
        <field name="seo_cat_to_title" type="list" default="0"  label="COM_VIPQUOTES_CATEOGRY_TO_TITLE" description="COM_VIPQUOTES_CATEOGRY_TO_TITLE_DESC" >
            <option value="0">JNONE</option>
            <option value="1">COM_VIPQUOTES_BEFORE</option>
            <option value="2">COM_VIPQUOTES_AFTER</option>
            <option value="3">COM_VIPQUOTES_ONLY_NAME</option>
        </field>
        <field name="seo_cat_as_page_heading" type="list" default="0"  label="COM_VIPQUOTES_CATEOGRY_AS_PAGEHEADING" description="COM_VIPQUOTES_CATEOGRY_AS_PAGEHEADING_DESC" >
            <option value="0">JNONE</option>
            <option value="1">COM_VIPQUOTES_BEFORE</option>
            <option value="2">COM_VIPQUOTES_AFTER</option>
            <option value="3">COM_VIPQUOTES_ONLY_NAME</option>
        </field>
    </fieldset>
    
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_vipquotes"
            section="component" />
    </fieldset>
    
</config>